@keyframes shimmer {
  from {
    background-position: -400px 0;
  }
  to {
    background-position: 0px 0;
  }
}

.password-grid.placeholder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.password-strength.placeholder {
  border-radius: 5px;
  padding: 30px;
  width: 340px;
  height: 200px;
  box-shadow: 5px 5px 10px #ccc;
  margin: 50px;
  background: rgb(224, 224, 224);
  background: linear-gradient(
    60deg,
    rgb(245, 245, 245) 0%,
    rgb(224, 224, 224) 100%
  );
  animation-name: shimmer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
